.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}
.right-bar{
    -fx-background-color: #D3D3D3;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.chosen-fruit-card{
    -fx-background-color: #DC7633 ;
    -fx-background-radius: 30;
}
.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}
.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.Produit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.Hbox-Panier {
    -fx-background-color: #3CB371;
}
.btn{
    -fx-background-color: #3CB371;
}
.white{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;}
.border{
    -fx-background-color:white;
    -fx-background-radius:5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;

}
.color{
    -fx-background-color: rgb(192,192,192);
}
.color2{
    -fx-background-color: white;
}
.color3{
   -fx-border-color: black;
}
.card{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.color4{
    -fx-background-color: #F2F3F4;
}